.product-box {
    width: 600px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}